@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eeeeee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eeeeee;
  }
}

body {
  color: #202020;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  button {
    @apply bg-orange-500 text-white rounded px-2;
  }

  .tree {
  }
  .tree .tree-wrapper {
    @apply flex;
  }
  .tree ol {
    @apply ml-2;
  }
  .tree ol > li {
    @apply bg-slate-800;
  }
}
