@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eeeeee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eeeeee;
  }
}

body {
  color: #202020;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  button {
    @apply bg-black text-white rounded px-2 min-h-8;
  }

  .tree {
    &-item {
      @apply flex w-full my-1.5 h-9;
      & + .tree {
        @apply hidden;
      }
      &-expanded {
        & + .tree {
          @apply block;
        }
      }
      & ~ .tree {
        > .tree {
          &-item {
            @apply relative;
            &::before {
              @apply absolute bg-gray-600 h-0.5 w-8 left-0 top-1/2 -ml-5;
              content: "";
              margin-top: -1px;
            }
          }
        }
      }
    }
    &-wrapper {
      @apply flex w-full;
    }
    &-childrenButton {
      @apply bg-transparent text-inherit min-w-10 p-0 flex items-center justify-center;
      > span {
        @apply flex w-4 h-4 text-gray-600 z-10 border-2 border-gray-600 items-center justify-center rounded-full;
      }
    }
    &-name {
      @apply w-full border border-gray-600;
      input {
        @apply w-full h-full py-1 px-2 border-0 font-semibold text-sm text-ellipsis;
        &:focus {
          @apply border-0 shadow-none outline-none bg-gray-200;
        }
      }
    }
    &-actions {
      @apply flex;
    }
    .tree {
      @apply pl-10 relative;
      &::before {
        @apply absolute bg-gray-600 w-0.5 left-5 top-0 -mt-4;
        content: "";
        height: calc(100% + 1rem);
        margin-left: -1px;
      }
    }
  }
}
